// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

input[type=text] {
  font-size: 2em;
  width: 20em;
  height: 2em;
  padding: 5px 10px;
}

.todos ul {
  list-style: none;
  margin: 0;
  border-top: 1px solid #ccc;

  li {
    margin: 1em 0;
    padding-bottom: 1.25em;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    
    a {
      font-weight: bold;
    }
  }
}

.todos {
  .stats {
    padding: 1em;
    background: #F4FCE8;
    font-weight: bold;
  }

}

.todo-show {
  margin: 3em 0;
  
  h3 {
    span {
      color: #999;
    }
  }
  
  .btn-group {
    margin: 1.5em 0;
  }
}