// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

input[type=text] {
  font-size: 2em;
  width: 20em;
  height: 2em;
  padding: 5px 10px;
}

.todos ul {
  list-style: none;
  margin: 0;

  li {
  
  }
}